In [15]:
import numpy as np
import pandas as pd
dataFile = 'file:///C:/Users/212773644/Desktop/machine%20learning/How%20to%20Think%20About%20Machine%20Learning%20Algorithms/Regression/ml-100k/u.data'
data = pd.read_csv(dataFile, sep="\t", header=None, usecols=[0, 1, 2], names=['userId', 'itemId', 'rating'])

In [16]:
data.head(10)

   userId  itemId  rating
0     196     242       3
1     186     302       3
2      22     377       1
3     244      51       2
4     166     346       1
5     298     474       4
6     115     265       2
7     253     465       5
8     305     451       3
9       6      86       3

In [17]:
from scipy.sparse import coo_matrix

data['userId'] = data['userId'].astype("category")
data['itemId'] = data['itemId'].astype("category")
rating_matrix = coo_matrix((data['rating'].astype(float), 
                            (data['itemId'].cat.codes.copy(), 
                            (data['userId'].cat.codes.copy()))))

In [23]:
import implicit

ImportError: No module named implicit

In [ ]:
user_factors, item_factors = implicit.alternating_least_squares(rating_matrix, factors=10, regularization=0.01)